<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Main Page</title>
    <style>
        body {
            font-family: "Poppins", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        h1 {
            font-weight: 600;
            font-size: 3rem;
            text-align: center;
            margin: 2rem 0;
            color: #333;
        }

        .container {
            max-width: 750px;
            margin: 0 auto;
            padding: 2rem;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        input[type="text"] {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
        }

        button {
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin: 1rem 0;
        }

        button:hover {
            background-color: #0056b3;
        }

        .table {
            margin-top: 2rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 1rem 0;
            font-size: 1rem;
        }

        th, td {
            padding: 0.75rem;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f8f8f8;
            font-weight: 600;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .message {
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1.1rem;
            color: #007BFF;
        }
    </style>
</head>

<body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
        <div class="message">
            <p>URL Generated: <a href="https://short-url-0m86.onrender.com/url/<%= id %>">https://short-url-0m86.onrender.com/url/<%= id %></a></p>
        </div>
    <% } %>
    <div class="container">
        <form method="POST" action="/url">
            <label for="url">Enter Your Original URL</label>
            <input type="text" name="url" placeholder="https://example.com" id="url" required />
            <button type="submit">Generate URL</button>
        </form>
    </div>
    <div class="container table">
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <tr>
                        <th>S No.</th>
                        <th>ShortID</th>
                        <th>Redirects</th>
                        <th>Clicks</th>
                    </tr>
                </thead><
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><a href="https://short-url-0m86.onrender.com/url/<%= url.shortId %>">https://short-url-0m86.onrender.com/url/<%= url.shortId %></td>
                            <td><%= url.redirectURL %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <button onclick="clearTable()">Clear Table</button>
        <% } %>
    </div>

    
</body>

</html>
